.ui.cards > .card > .image > img, .ui.card > .image > img {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.ui.cards > .card > .image, .ui.card > .image {
    max-height: 250px;
    overflow: hidden;
}

h3 {
    font-size: 2.3em !important;
    font-weight: 100 !important;
    color: #2E7D32 !important;
}

.email {
    color: #2E7D32 !important;
}

@media only screen and (max-width: 700px) {
  .extra.content {
    display: none !important;
  }
}
