<template name="app_body">
  <body>
      <!-- Following Menu -->
    <div class="ui huge borderless top fixed inverted menu navbar hidden">
      <div class="ui container">
        <div class="menu-header item">ΛΧΑ | GT</div>
         <div class="right menu">
        <!--  <a class="small-text item">
            Log In
          </a>
          <a class="small-text item">
            Join
          </a> -->
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
      <div class="menu-header yellow item">ΛΧΑ | GT</div>

      <!-- <a class="item">Log In</a>
      <a class="item">Sign Up</a> -->
    </div>

      {{>Template.dynamic template=main}}

    <div class="ui inverted vertical footer segment">

    </div>
  </body>
</template>
